.map{
   
    padding: 2em 0;
}

.map iframe{
    width: 26em;
    height: 20em;
    padding-top: 2em;
}

.map-info{
    text-align: center;
}


footer{
    padding: 2em 0;
    text-align: center;
    background-color: yellow;
}

